body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lemonchiffon;
}

h1{
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    color: chocolate;
}
